h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul,
ol {
  list-style: none; }

.header {
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: #008aff;
  height: 752px;
  padding: 48px 20px 0;
  border-bottom-left-radius: 200px; }
  .header__logo {
    width: 60px;
    height: 28px;
    margin-right: 64px; }
  .header__nav {
    max-width: 1090px;
    margin: 0 auto 42px; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1090px;
    margin: 0 auto; }
  .header__text-block {
    margin-top: 120px; }
  .header__heading {
    width: 490px;
    height: 136px;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff; }
  .header__text {
    width: 460px;
    height: 81px;
    margin-bottom: 56px;
    font-family: "Open sans", sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #fff; }
  .header__button {
    width: 226px;
    height: 50px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    background: #ff9c8e;
    border-radius: 64px;
    cursor: pointer;
    border-style: none;
    outline: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .header__button:hover {
      background-color: #fff; }
    .header__button:hover {
      color: #FF9C8E; }
    .header__button:focus {
      -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .header__slider {
    position: absolute;
    width: 43%;
    right: 0;
    min-width: 500px;
    height: 680px;
    border-top-left-radius: 200px;
    background-image: url(../images/slider/slider-img-new.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .slider__button {
    width: 32px;
    height: 32px;
    margin-top: 570px;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    outline: none; }
    .slider__button:hover {
      border: 1px solid #9fadc2; }
    .slider__button:active {
      background-color: #9fadc2; }
    .slider__button:focus {
      -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.17);
              box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.17); }
  .slider__button-left {
    margin-left: 48px;
    background-image: url(../images/slider/arrow_left.png);
    background-position: center;
    background-repeat: no-repeat; }
  .slider__button-right {
    margin-left: 8px;
    background-image: url(../images/slider/arrow_right.png);
    background-position: center;
    background-repeat: no-repeat; }
  .slider__text-block {
    margin-left: 24px;
    margin-top: 564px; }
  .slider__heading {
    font-size: 13px;
    line-height: 19px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #fff; }
  .slider__text {
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 264px;
    color: #fff; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 966px;
    font-weight: 700;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .nav__item:last-of-type {
    margin-left: 300px;
    text-align: center; }
  .nav__item--active::after {
    content: "";
    display: block;
    background: #ff9c8e;
    top: 28px;
    height: 2px;
    border-radius: 4px; }
  .nav__link {
    color: #fff;
    white-space: pre;
    outline: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:hover {
      color: #9FADC2; }
    .nav__link:focus {
      -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.17);
              box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.17); }

body {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
